%one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

%multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
